*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: antiquewhite;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-one{
    display: flex;
}
.logo{
    font-size: 30px;
}
.logo:hover{
    background-color: blueviolet;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
li{
    list-style: none;
}
.item-low{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.item-low:hover{
    background-color: chartreuse;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.img-one{
    width: 100%;
}
.onefro{
    margin: 20px auto;
    text-align: center;
} 

.hd-done{
    display: flex;
    width: 100%;
    
}
.hd-now img{
    width: 100%;
    height: 200px;
}
.hd-now{
    padding-top: 20px;
}

.hd-wow{
    padding-top: 14px;
    text-align: center;
}

.hd-wow button{
    min-width: 140px;
    padding: 10px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hd-wow:hover{
    border-radius: 5px;
    background-color: chocolate;
}
.hd-wow button:hover{
    background-color: chartreuse;
}

.section-one{
    display: flex;
}
.sc-text{
    background-color: cadetblue;
    text-align:center;
    padding-top: 30px;
}
.sc-btn{
    transition: 1s;
    min-width: 270px;
    border-radius: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.sc-btn:hover{
    background-color: chocolate;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.sc-legend{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.sc-forex{
    display: flex;
    width: 100%;
}
.sc-fast img{
    width: 100%;
    height: 200px;
}
.sc-key{
    text-align: center;
}
.sc-key button{
    min-width: 250px;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sc-key h2{
    color: red;
}
.sc-key:hover{
    background-color: chartreuse;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sc-key button:hover{
    background-color: darkslategray;
}
.footer{
    display: flex;
    width: 100%;
}


.footer{
    display: flex;
    width: 100%;
    color: #fff;
    padding-top: 50px;
    background-color: darkslategray;
    text-align: center;
}
.footer .ft-one, .ft-sec, .ft-third{
    width: 100%;
    height: 300px;
}
.ft-one{
    display: block;
}

.ft-sec{
    margin-left: 40px;
}

.ft-third{
    margin-left: 40px;
}
.ft-one-one button{
    min-width: 200px;
    border: none;
    max-height: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.ft-one-one button:hover{
    background-color: chartreuse;
}